*{
    margin: 0;
    font-family: Arial;   
    box-sizing: border-box; 
}


.navbar{
    height: 100px;
    background-color: #0a1f44;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}

.nav-logo {
    height: 90px;
    width: 250px;
    
}

.logo {
    background-image: url("flat_logo.svg");
    background-size: cover;
    display: flex;
    height: 80px;
    width: 250px;
    
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}


/** HERO SECTION **/
.hero-section {
    height: 80vh;
    background-color: #e8ecf3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 80px;
}

.hero-dept h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero-dept P {
    font-size: 18px;
}

/**section **/
section {
    padding: 60px 80px;
}
 section h2 {
    text-align: center;
    margin-bottom: 30px;
 }

 /*8about*/
 .about p{
    text-align: center;
    line-height: 1.6;
 }

 /**labs and faculy**/
 .lab-cards,
 .faculty-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 20px;
 }

 .card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
 }

 .card h3{
    margin-bottom: 10px;
 }
 

/**footer**/
footer{
    background: #0a1f44;
    color: white;
    text-align: center;
    padding: 20px;
}


/* NOTES & PYQ SECTION */
.resources{
    background: #f4f6fb;
    padding: 60px 80px;
}

.resources h2{
    text-align: center;
    margin-bottom: 40px;
}

/* SUBJECT CARDS */
.subjects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.subject-card{
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.subject-card h3{
    margin-bottom: 20px;
    font-size: 18px;
}

/* LINKS */
.links a{
    display: block;
    margin: 8px 0;
    padding: 8px;
    text-decoration: none;
    background: #0a1f44;
    color: white;
    border-radius: 20px;
    font-size: 14px;
}

.links a:hover{
    background: #143a7b;
}

.developer{
    background:#0a1f44;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.contact{
    background-color: #0a1f44;
    color: white;
    text-align: end;
    padding: 15px;
    font-size: 16px;
}
@media (max-width: 600px){
    .navbar{
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    section{
        padding: 30px 15px;
    }

    .lab-cards,
    .faculty-cards,
    .subjects{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 992px){
    .lab-cards,
    .faculty-cards,
    .subjects{
        grid-template-columns: repeat(2, 1fr);
    }
}
